---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <header>
    <p>Welcome to Lifehacks</p>
    <p>Your go-to source for tips and tricks to make life easier!</p>
  </header>
</BaseLayout>
